

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Simple Login Form Example</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="~/css/AdminUserLogin.css">
  <script type="text/javascript" src="~/js/AdminUserLogin.js"></script>

</head> 
<body>
<!-- partial:index.partial.html -->
<div class="login-form" style="background-image: url('https://img.freepik.com/free-photo/blur-hospital_1203-7972.jpg?w=1060&t=st=1652777289~exp=1652777889~hmac=d02904c52ec0c83a3f4ff8481e4e540f1ebc2d62f8b4a478e05440b66e7602de');" >
  <form class="card">
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="email" placeholder="Email" autocomplete="nope" id="EmailIdSearch" />
        <small id="EmailIdSearchValidate" class="text-danger"></small>
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password" autocomplete="new-password" id="PwdSearch">
        <small id="PwdSearchValidate" class="text-danger"></small>

      </div>
      <a href="" class="link">Forgot Your Password?</a>
    </div>
    <div class="action">
      <a id="BtnUpdateRecord" class="btn btn-primary" >Sign in</a>
    </div>
  </form>
</div>
<!-- partial -->
 

</body>
</html>
