<center>
<h1 id="hs">Welcome to Clinic Management System... </h1>
</center>
<style>
    body{
        background-image:url("https://img.freepik.com/free-photo/digital-composite-doctor-with-white-graph-with-flare-against-blurry-background-with-light-blue-overlay_1258-84253.jpg?t=st=1654517823~exp=1654518423~hmac=b7f77b12daa939f5a3dc8ff7aef48d5b06e0063f8617699b9e1622fb03332289&w=1380");
        background-size:cover;
    }
    #hs{
        color:navy;font-size:40px;
        font-weight:bold;
    }
</style>