

<script type="text/javascript" src="~/js/RegisterForm.js"></script>



 <style>
body {
background-image : url('https://img.freepik.com/free-photo/blurred-abstract-background-interior-view-looking-out-toward-empty-office-lobby-entrance-doors-glass-curtain-wall-with-frame_1339-6352.jpg?w=1060&t=st=1652780069~exp=1652780669~hmac=8c6b89fbfbe07176622e86cd11d73fb049053f0fd4bf6517bcc796c0b53e27a2'); background-repeat :no-repeat; background-size :cover;
}

</style>



<script type="text/javascript" src="~/js/RegisterFormjs.js"></script>






<div class="mask d-flex align-items-center h-100">
<div class="container h-100">
<div class="row d-flex justify-content-center align-items-center h-100">
<div class="col-12 col-md-9 col-lg-7 col-xl-6">
<div class="card" style="border-radius: 15px;">
<div class="card-body p-5">



<h2 class="text-uppercase text-center mb-5">Register User</h2> <form>



<div class="form-outline mb-4">

<label class="form-label" for="form3Example1cg">FirstName</label>
<input type="text" id="FNameSearch" class="form-control form-control-lg" />
<small id="FNameSearchValidate" class="text-danger" ></small>
</div>



<div class="form-outline mb-4">

<label class="form-label" for="form3Example1cg">LastName</label>
<input type="text" id="LNameSearch" class="form-control form-control-lg" />
<small id="LNameSearchValidate" class="text-danger" ></small>
</div>



<div class="form-outline mb-4">

<label class="form-label" for="form3Example3cg">EmailId</label>
<input type="email" id="EmailIdSearch" class="form-control form-control-lg" />
<small id="EmailIdSearchValidate" class="text-danger" ></small>
</div>



<div class="form-outline mb-4">

<label class="form-label" for="form3Example4cg">Password</label>
<input type="password" id="PwdSearch" class="form-control form-control-lg" />
<small id="PwdSearchValidate" class="text-danger" ></small>
</div>



<div class="dropdown">
<select class="btn btn-secondary dropdown-toggle" id="DDL_Role">
<option value="Select a role">--Select a role--</option>
<option value="U">User</option>
<option value="A">Admin</option>
</select>
</div>
<br/>
<br/>






<div class="d-flex justify-content-center">
<button type="button"
class="btn btn-primary btn-block btn-lg gradient-custom-4" id="BtnUpdateRecord" >Register</button>
</div>
<p class="text-center text-muted mt-5 mb-0">Have already an account?
    <a class="fw-bold text-body" asp-action="AdminUserLogin">Login Here.</a>
</p>
</form>

</div>
</div>
</div>
</div>
</div>
</div>
